.earth_day_live_options-form {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.earth_day_live_options-form fieldset {
    padding: 10px;
}

.earth_day_live-cookie_expiration_days {
    width: 50px;
}

.earth_day_live-iframe_host {
    width: 300px;
}

.earth_day_live_options-form span {
    font-weight: bold;
}

.earth_day_live-container img {
    width: 400px;
}
